version: "3.8"

services:
  web:
    build: .
    restart: unless-stopped
    ports:
      - "5000:5000"
    volumes:
      - ./instance:/app/instance
    
    # Add this to load your secrets from the .env file
    env_file:
      - .env

    environment:
      # CHANGE THIS from 'production' to 'development'
      - FLASK_ENV=development
      - TZ=Asia/Kolkata